
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand " href="#!">

            <i class="fa-sharp fa-solid fa-utensils"></i>
            <b>CaFe De Bale</b>
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <input (keyup)="searchterm($event)" class="form-control" type="text" [placeholder]="restnote">&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

           <a class="btn btn-info mt-auto" href="add-restuarants">Add new restuarant</a>
        
        </div>
    </div>
</nav>

